# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Database Configuration
# Note: If using the provided docker-compose.yml on a VPS with port conflicts, the port might be 5433
DATABASE_URL="postgresql://user:password@127.0.0.1:5432/befroosh_db?schema=public"

# Authentication
JWT_SECRET="your-secret-key"

# Meta (Instagram) API Tokens
META_PAGE_ID="your_facebook_page_id"
META_ACCESS_TOKEN="your_page_access_token_starting_with_EAA"
META_VERIFY_TOKEN="my_secret_verify_token_123"
META_APP_SECRET="your_app_secret"
META_APP_ID="your_app_id"

# Redis Configuration
# Note: If using the provided docker-compose.yml on a VPS with port conflicts, the port might be 6380
REDIS_HOST="localhost"
REDIS_PORT="6379"
